*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.bib
*.bst
*.cfg
*.cls
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.hd
*.idx
*.ilg
*.ind
*.ins
*.ist
*.lof
*.log
*.lot
*.maf
*.md
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdf
*.pdfsync
*.ps
*.snm
*.sty
*.synctex.gz
*.toc
*.tmp
*.txt
*.vrb
*.xdy
*.tdo

achemso-demo.*
